/data/eclipse.platform.ui
/data/aspectj/
/data/birt/
/data/jdt/
/data/swt/
/data/tomcat/
/data/Eclipse_Platform_UI.txt
/data/dataset
.venv/
/data/features.csv
/data/aspectj_features.csv
/data/birt_features.csv
/data/jdt_features.csv
/data/swt_features.csv
/data/tomcat_features.csv
/data/dataset_codebert.csv
/data/ast_dataset.json
/data/cpg_dataset.pkl
/data/pickle_dataset.pkl
/data/models/
/temp_joern/
*.pyc
__pycache__/
*.py[cod]
*.so
*.bin
*.pkl
*.pt

# ignore cython compiled files
*.cypthon-*


